.skillsCont{
    margin-inline: 40px;

    width: 50%;
    .imgSkills{
        width: 10%;   
    }
    .imgsCont{
        display: grid;
        grid-template-columns: auto auto auto;
        grid-gap:15px;
        background: rgb(73 115 133 / 33%);
        padding: 10px;
        border-radius: 25px;
        img{
            width: 40%; 
            margin: auto;
        }
        
    }
}

@media all and (max-width: 875px){
    .skillsCont{
        align-content: center;
        height: 100vh;
            width: auto;
    }
}