.aboutMe__container{
    display: flex;
 .aboutMe__textContainer{
        width: 50%;
        margin-inline: 40px;
    }
    .aboutme__skillsCont{
        margin-inline: 40px;

        width: 50%;
        .imgSkills{
            width: 10%;   
        }
        .aboutme__imgsCont{
            display: grid;
            grid-template-columns: auto auto auto;
            grid-gap:15px;
            background: rgb(73 115 133 / 33%);
            padding: 10px;
            border-radius: 25px;
            img{
                width: 40%; 
                margin: auto;
            }
            
        }
        @media all and (max-width: 600px) {
            .aboutme__imgsCont{
                grid-template-columns: auto;
                grid-gap: 60px;
            }
        }
    }
}