.aboutMe__container{
    display: flex;
    .aboutMe__textContainer{
        width: 50%;
        margin-inline: 40px;
    }
}
@media all and (max-width: 600px) {
    .aboutMe__container{
        flex-direction: column;
        align-items: center;}
        .aboutme__imgsCont{
            grid-template-columns: auto;
            grid-gap: 60px;
        }
}